* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ul, li {
	list-style: none;
}

body {
	border-top: 6px solid #34b5d0;
	font-family: cambria, georgia, times, serif;
	color: #333;
	font-size: 16px;
}

section {
	margin: 20px 0;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 24px;
}

h1, h2 {
	margin: 5px 0;
}

header, .main-content {
	width: 1024px;
	margin: 0 auto;
}

header {
	border-bottom: 1px solid #ccc;
	padding: 20px 60px;
}

aside {
	float: right;
	margin-right: 200px;
}

.clearfix {
	clear: both;
}

footer {
	margin-top: 40px;
	height: 100px;
	padding: 30px;
	background-color: #444;
	color: #fff;
	text-align: center;
}

.logo {
	font-size: 30px;
	color: #A64E00;
}

#content {
	padding: 40px 20px 0 20px;
	width: 600px;
}

#aside {
	padding: 40px 20px 0 20px;
}

.aside-link {
	text-decoration: none;
	color: #496c78;
}

.aside-link:visited {
	color: #496c78;
}
